.footer-top{

    padding-bottom: 0rem;

    &__wrap{
        display: flex;
    }

    &__left{
        max-width: 70rem;
        flex: 0 0 50%;
    }

    &__right{

        flex: 0 0 40%;
        margin-left: auto;
        text-align: right;
        margin-top: 10rem;
        position: relative;


        &__text{
            font-size: 2rem;
            font-family: $popin;
            font-weight: 300;
            color: #fff;
            font-style: italic;
            text-align: right;
            margin: 2rem 0;
        }
    }

    &__text{
        font-size: 2.5rem;
        font-family: $popin;
        font-weight: 300;
        color: #525252;
        line-height: 1.9;
        margin-bottom: 2rem;

        span{
            font-weight: 400;
        }

        a{
            color: #EA6676;
            text-decoration: underline;
        }
    }

    &__logo{
        display: block;
        transform: translate(50%);
    }


    &__social{

        display: flex;
        justify-content: right;

        a{
            height: 4rem;
            width: 4rem;
            border-radius: 50%;
            border: 3px solid #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            margin-right: 1rem;
            margin-left: 1rem;
            transition: all .3s;

            &:hover, &:hover i{
                background:#fff;
                color: #333;
            }


            i{
                font-size: 2rem;
                color: #fff;
                transition: all .3s;
            }
        }
    }




}