.gallery{
    padding-bottom: 10rem;


    &__grid{

    }

    &__item{
        width: 25%;
        float: left;
        height: 30rem;
        background-image: url(/img/img-1.jpg);
        background-size: cover !important;
        background-position: center !important;
        background-repeat: no-repeat;


        &--2{
            background-image: url(/img/img-2.jpg);
        }

        &--3{
            background-image: url(/img/img-3.jpg);
        }

        &--4{
            background-image: url(/img/img-4.jpg);
        }

        &--5{
            background-image: url(/img/img-5.jpg);
        }

        &--6{
            background-image: url(/img/img-6.jpg);
        }

        &--7{
            background-image: url(/img/img-7.jpg);
        }

        &--8{
            background-image: url(/img/img-8.jpg);
        }
    }
}